<html>
  <head>
    <title>Quintype App</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
    <script type="text/javascript" src="/assets/app.js"></script>
  </head>
  <body>
    <div id="container">
      <div>
        <div class="messages"></div>
        <table class="diamondsweeper-board">
          <tbody>
            <tr>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell diamond"></div></td>
              <td><div class="cell unknown"></div></td>
            </tr>
            <tr>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell"></div></td>
            </tr>
            <tr>
              <td><div class="cell"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell diamond"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
            </tr>
            <tr>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell unknown"></div></td>
            </tr>
            <tr>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell diamond"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell arrow"></div></td>
              <td><div class="cell unknown"></div></td>
            </tr>
            <tr>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
            </tr>
            <tr>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell diamond"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
            </tr>
            <tr>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell unknown"></div></td>
              <td><div class="cell"></div></td>
              <td><div class="cell"></div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript">startApp(document.getElementById("container"));</script>
  </body>
</html>
